/* すべての要素に適用 */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
}

.header {
  width: 100%;
  /* vh（画面幅に対する割合）100vhだと画面いっぱい */
  height: 100vh;
  /* こっちのimageは背景（background）だからpaddingの影響を受けていない */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/header-image.png);
  /* 縦横比は変えず余白がないように画像を入れる */
  background-size: cover;
  /* 画像の真ん中を表示する */
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}

nav button {
  border: 0;
  /*  */
  outline: 0;
  background-color: #db0001;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  padding: 7px 20px;
  cursor: pointer;
  color: #fff;
}

.language-btn {
  /*  */
  display: inline-flex;
  align-items: center;
  /* transparent透明 */
  background-color: transparent;
  border: 1px solid #fff;
  padding: 7px 10px;
}

.language-btn img {
  width: 10px;
  margin-left: 10px;
}

.header-content {
  /* 親に対して中央に寄せる */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.header-content h1 {
  font-size: 45px;
  /* 行間 */
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
}

.header-content {
  font-weight: 400;
  margin-bottom: 20px;
}

.email-signup {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.email-signup input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.email-signup button {
  background-color: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  /* inputではなく、親にpaddingが反映されている */
  padding: 15px 30px;
}

/* --------------------features----------------------- */
.features {
  padding: 50px 12%;
  font-size: 22px;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  /* flex適用時に使える */
  /* 行を折り返す */
  flex-wrap: wrap;
  padding: 50px 0;
}

.text-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col img {
  display: block;
  /* img-colにたいして90% */
  width: 90%;
  margin: auto;
}

.features h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* --------------------faq----------------------- */
.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
}

.faq h2 {
  font-size: 40px;
  font-weight: 500;
}

.accordion {
  margin: 60px auto;
  width: 100%;
  /* 要素がこれ以上大きくならない */
  max-width: 750px;
}

.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 34px;
  /* relativeの左上に配置される */
  position: absolute;
  right: 20px;
  /*  */
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}

.accordion .content {
  background-color: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  /* overflow(要素のボックスからはみ出た部分をどう扱うか」を指定) */
  overflow: hidden;
  transition: all 0.5s;
}

/*  */
.accordion input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label:after {
  /* inputを押されたとき+ボタンを回転 */
  transform: rotate(135deg);
}
